<div class="container">
  <div class="row">
    <div class="m-5">
      <form name="quiz">
        <div class="form-group">
          <h4><%='1.ギャンブルに負けた時に、負けを取り戻そうと別の日にギャンブルをしますか？' %></h4>
          <div class="form-group form-check">
            <h5><input type=radio name="a">Yes
                <input type=radio name="a">No
            <h5>
          </div>
        </div>

        <div class="form-group">
          <h4><%='2.ギャンブルで負けたときでも、勝っていると嘘をついたことがありますか？' %></h4>
          <div class="form-group form-check">
            <h5><input type=radio name="b">Yes
            <input type=radio name="b">No
            <h5>
          </div>
        </div>

        <div class="form-group">
          <h4><%='3.ギャンブルの証拠になるような券などを家族の目に触れないよう隠したことがありますか？' %><h4>
          <div class="form-group form-check">
            <h5><input type=radio name="c">Yes
                <input type=radio name="c">No
            </h5>
          </div>
        </div>

        <div class="form-group">
          <h4><%='4.ギャンブルに使うお金に関して、家族と口論になったことがありますか？' %><h4>
          <div class="form-group form-check">
            <h5><input type=radio name="d">Yes
                <input type=radio name="d">No<h5>
          </div>
        </div>

        <div class="form-group">
          <h4><%='5.借りたお金をギャンブルに使ってしまい、返せなくなったことがありますか？' %><h4>
          <div class="form-group form-check">
            <h5><input type=radio name="e">Yes
                <input type=radio name="e">No<h5>
          </div>
        </div>
      
        <div class="text-center btn-lg">
          <input type=button value=" 採点 " onClick="saiten()">
        </div>
      </form>
    </div>
  </div>
</div>